.container
  .row.u-margin-top-lg
    %h1 View Keynote
  .row.u-margin-top-lg.u-margin-bottom-lg
    .col-md-12
      %iframe{width: "560", height: "315", src: "https://www.youtube.com/embed/xn_WP4K9dl8", frameborder:"0", allow:"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: ""}
